<nav class="main-nav">
	<a href="/">Home</a>
	<a href="/contact">Contact Form</a>
	<a href="/admin">Admin</a>
	<a href="https://github.com/konradkelly" target="_blank">GitHub</a>
	<a href="https://www.linkedin.com/in/konrad-kelly-34421a133/" target="_blank"
		>LinkedIn</a
	>
</nav>
